<mat-toolbar>
  <mat-toolbar-row>
    <span><img src="../../../assets/img/wro/logo-ranchero.png" class="logo" style="cursor: pointer;" alt="logo" [routerLink]="['/welcome']"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Inicia Sesion" [routerLink]="['/loginAdmin']" title="Inicia Sesion">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar-row>
  </mat-toolbar>


<div class="main">
  <h1 style="font-weight: 700;">¡Bienvenidos al gestor de El Ranchero!</h1>
</div>
<div class="main">
  <img src="../../../assets/img/wro/background.png" class="banner" alt="" srcset="">
</div>
<div class="main">
  <button mat-raised-button color="accent" title="Inicia Sesion" [routerLink]="['/central']">Ir al dashboard</button>
</div>

<mat-divider style="margin-top: 1%"></mat-divider>
<div class="main">
  <p style="font-weight: 200; color: grey;">Realizado con <mat-icon style="size: 5px;">favorite</mat-icon> por <a href="#" style="color:grey">Sofia Videa</a></p>
</div>

