.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.items-spacer {
  flex: 1 1 auto;
}

/* TABLE Structure */
table {
width: 80%;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

.toolbar-item-spacer {
flex: 1 1 auto;
}

.app-container {
height: 90%;
margin: 0;
}
.app-sidenav {
width: 230px;
}
.app-sidenav-content {
display: flex;
height: 50%;
align-items: center;
justify-content: center;
}

.example-card {
max-width: 300px;
min-width: 200px;
margin-bottom: 50px;
margin-left: 30px;
margin-top: 30px;
float: left;
}

.logo{
  width: 190px;
  height: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}
.main{
  align-items: center;
  justify-content: center;
  display: flex;
}

